.book_card {
    float: left;
    width: 18%;
    height: 330px;
    margin: 0 0 3% 5%;
    background-color: #B0DDE4;
    border-radius: 5%;
    border: 2px solid #286FB4;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.3);
    text-align: center;
}
.book_card .book-img {
    width: 50%;
    height: auto;
    margin-top: 10px;
}
.book-info {
    margin: 0 0 0 25%;
    text-align: left;
}
.book_card input {
    text-align: center;
}
.book_card button {
    background-color: #286FB4;
    color: #fff;
}