
/*Header styles*/
header {
    background: linear-gradient(to right, rgb(166,222,254));
    background-image: url(../images/bookstoreladder.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}


header #logo {
    /* margin-top: 10px; */
    float: right;
    background-color: rgba(158, 186, 235, 0.735);
    padding: 0px;
    width: 400px;
    height: 100px;
}

header #logo a {
    font-size: 2rem;
    font-style: normal;
    text-decoration: none;
    font-weight: 800;
    color:rgb(151, 17, 66);
}

h2, h3 {
    line-height: 0;
}

header #logo a:visited {
    color:rgb(151, 17, 66);
}

nav {
    background-color: #eaa81a;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #286FB4;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #74b1e3;
}

.active {
    background-color: #DF4C73;
}

/* HTML and Body Styles*/

body{
    color: #666;
    background-color: #E2F0F9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

#content {
    padding: 20px;
    height: 100%;
    line-height: 2rem;
}

footer {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #666;
    position: absolute;
    bottom: 0;
    width: 97.2%;
    line-height: 1.5rem;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
}