
/*Header styles*/
header {
    background: linear-gradient(to right, rgb(166,222,254));
    background-image: url(../images/bookstoreladder.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}


header #logo {
    /* margin-top: 10px; */
    float: right;
    background-color: rgba(158, 186, 235, 0.735);
    padding: 0px;
    width: 400px;
    height: 100px;
}

header #logo a {
nav ul {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #286FB4;
}


.active {
    background-color: #DF4C73;
}

/* HTML and Body Styles*/

body{
    color: #666;
    background-color: #E2F0F9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}
@ -86,10 +83,10 @@ body{

footer {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #666;
    position: absolute;
    bottom: 0;
    width: 97.2%;
    line-height: 1.5rem;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}