body {
    background-color: #df4c73;
    margin: 0 auto;
    max-width: 500px;
    font-family: Verdana, "sans-serif";
}

h1 {
    text-align: center;
}

fieldset {
    padding: 30px;
    border-radius: 15px;
    background: #B0dde4;
}

fieldset div.submit {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    max-width: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 20px;
    box-sizing: border-box;
}