table#cart-items {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 170px;
}

table caption {
    display: table-caption;
    text-align: left;
   font-weight: bold;
}

#cart-items td,
#cart-items th {
    border: 1px solid #ffffff;
    padding: 8px;
}

#cart-items tr:nth-child(odd) {
    background-color: #b0dde4;
}
#cart-items tr:nth-child(even) {
    background-color: #286fb4;
}

#cart-items tr:hover {
    background-color: #DF4C73;opacity: 0.60;
    font-weight: bold;
}

#cart-items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #286fb4;
    color: white;
}

#total {
    text-align: right;
}

html{
    background-color: #286fb4;

}
::content{
    opacity: 0.3;
}