
/*Header styles*/
header {
    background: linear-gradient(to right, rgb(166,222,254));
    background-image: url(bookstoreladder.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}


header #logo {
    margin-top: 160px;
    float: right;
    background-color: rgba(158, 186, 235, 0.735);
    padding: 5px;
    width: 350px;
}

header #logo a {
    font-size: 2rem;
    font-style: normal;
    text-decoration: none;
    font-weight: 800;
    color:rgb(151, 17, 66);
}

h2, h3 {
    line-height: 0;
}

header #logo a:visited {
    color:rgb(151, 17, 66);
}

nav {
    background-color: #eaa81a;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #eaa81a;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #74b1e3;
}

.active {
    background-color: #2962dc;
}

/* HTML and Body Styles*/
html {
    background-color: antiquewhite;
}

body{
    color: rgb(124, 118, 118);
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

#content {
    padding: 20px;
    height: 100%;
    line-height: 2rem;
}

footer {
    padding: 10px 20px 10px 20px;
    color: green;
    background-color: #666;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
}